<!DOCTYPE html>
<html>
<head>
	<title>Retro Games Site</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- datatables -->
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">
	<style type="text/css">
		.main-header {
			margin-top: 20px;
		}
		p {
			color: grey;
		}
	</style>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
	  <a class="navbar-brand" href="#">Retro Games Lookup</a>

	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarNav">
	    <ul class="navbar-nav">
	      <li class="nav-item active">
	        <a class="nav-link" href="{% url 'index' %}">Search</a>
	      </li>
	    </ul>
	  </div>
	</nav>

	<br>
	
	<div class="container">
		{% block content %}{% endblock content %}
	</div>

	<hr>

	<footer class="container">
		<p>Developed by Chris Momdjian</p>
	</footer>

	<!-- bootstrap js -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<!-- datatables js -->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
	<script>
		$(document).ready( function () {
		    $('#myTable').DataTable();

		  //   $('#search_title_form').on('submit', function(e) {
		  //   	e.preventDefault();

		  //   	let searchTitle = $('#search-title').val();
		  //   	let cookie = document.cookie
				// let csrfToken = cookie.substring(cookie.indexOf('=') + 1)

		  //   	$.ajax({
				//     url: 'http://localhost:8000/',
				//     type: 'POST',
				//     headers: { 'X-CSRFToken': csrfToken },
				//     data: {'search_title': searchTitle},
				//     success: function(data) {
				//         console.log(data);
				//     },
				//     failure: function(data) { 
				//         console.log('Error');
				//     }
				// });
		  //   });
		} );
	</script>
</body>
</html>